<div *ngIf='project$ | async as project'>
  <h2> Zones:</h2>
<ul *ngFor="let zone of project.garden" class="zone">
  <li >
    <a routerLink='/users/{{userId}}/projects/{{project.id}}/garden/{{zone.id}}'>
      {{zone.name}}
    </a>
  </li>
</ul>
<h2>Principles</h2>
<ul *ngFor="let principle of project.eduCourse" class="principle">
        <li >
          <a routerLink='/users/{{userId}}/projects/{{project.id}}/eduCourse/{{principle.id}}'>
            <span class="badge">{{principle.id}}</span> {{principle.name}}
          </a>
        </li>
      </ul>
</div>

