<div *ngIf='gardenBed$ | async as gardenBed'>
    <h1>{{gardenBed.name}}:</h1>
    <h3>{{gardenBed.description}}</h3>
    <h5> Crops</h5>
    <ul *ngFor="let crop of gardenBed.crops" class="crop">
    <li >
        <a routerLink='/users/{{userId}}/projects/{{projectId}}/garden/{{zoneName}}/gardenBeds/{{gardenBedName}}/crops/{{crop.name}}'>
            {{crop.name}}
        </a>
    </li>
    </ul>
    <div>
        <label>Crop Name: <br>
            <input #cropName />
        </label><br>
        <label> Crop Description: <br>
            <input #cropDescription/>
        </label>
        <br> 
        <label> Date Planted: </label>
        <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input #datePlanted class="form-control" placeholder="yyyy-mm-dd"
                       name="datePlanted" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </form>
        <button id=add-Crop (click)='addCrop(cropName.value, cropDescription.value, datePlanted.value);'>
            add
        </button>
    </div>
</div>