<h1>Projects</h1>
<div>
  <label>Project name:
        <input #projectName />
  </label><br>
  <label> Project Description:
      <input #projectDescription/>
  </label>
  <button id=add-project (click)="addProject(projectName.value, projectDescription.value); projectName.value=''; projectDescription.value=''">
      add
  </button>
</div>
<div *ngIf="user$ | async as user">
<ul *ngFor="let project of user.projects" class="project">
  <li >
    <a routerLink='/users/{{user.username}}/projects/{{project.name}}'>
      <span class="badge">{{project.id}}</span> {{project.name}}
    </a>
  </li>
</ul>
</div>

