<h1>Projects</h1>
<div>
  <label>Project name:
        <input #projectName />
  </label><br>
  <label> Project Description:
      <input #projectDescription/>
  </label>
  <button id=add-project (click)="addProject(projectName.value, projectDescription.value); projectName.value=''; projectDescription.value=''">
      add
  </button>
</div>
<ul *ngFor="let project of projects" class="project">
  <li >
      <a routerLink='/detail/{{project.name}}'>
        <span class="badge">{{project.id}}</span> {{project.name}}
      </a>
  </li>
</ul>
