<h1>Projects</h1>
<div class =forn-group>
  <label>Project name:
        <input #projectName />
  </label><br>
  <label> Project Description:
      <input #projectDescription/>
  </label>
  <button id=add-project (click)="addProject(projectName.value, projectDescription.value); projectName.value=''; projectDescription.value=''">
      add
  </button>
</div>
<div *ngIf="user$ | async as user" class=table>
<ul *ngFor="let project of user.projects" class="project">
  <li >
    <a routerLink='/users/{{user._id}}/projects/{{project.id}}'>
      <span class="badge"></span> {{project.name}}
    </a>
    <button (click)="deleteProject(project.name)">Delete</button>
  </li>
</ul>
</div>

