<div *ngIf='crop$ | async as crop'>
    <h1>{{crop.name}}:</h1>
    <h3>{{crop.description}}</h3>
    <h5> To Do: </h5>
    <ul *ngFor="let todo of crop.todos" class="toDo">
    <li >
        <a routerLink='/users/{{userId}}/projects/{{projectId}}/garden/{{zoneName}}/gardenBeds/{{gardenBedName}}/crops/{{crop.name}}'>
            {{todo.name}}
        </a>
    </li>
    </ul>
    <div>
        <label>To Do Name: <br>
            <input #toDoName />
        </label><br>
        <label> To Do Description: <br>
            <input #toDoDescription/>
        </label>
        <br> 
        <label> Date Due: </label>
        <form class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <input #dateDue class="form-control" placeholder="yyyy-mm-dd"
                       name="datePlanted" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                  <button class="calendar" (click)="d.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </form>
        <button id=add-ToDo (click)='addToDo(toDoName.value, toDoDescription.value, dateDue.value);'>
            add
        </button>
    </div>
</div>